.quickstart-yii2/
/.php-cs-fixer.cache
/packages/*/.phpunit.cache/
/packages/*/composer.lock
/packages/*/composer.monorepo.json
/packages/*/composer.monorepo.lock
/packages/*/coverage.xml
/packages/*/vendor/
/var/
