<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php" colors="true" failOnWarning="true" failOnDeprecation="false" displayDetailsOnTestsThatTriggerDeprecations="true" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="core"><directory>packages/core/tests</directory></testsuite>
        <testsuite name="doctrine"><directory>packages/doctrine/tests</directory></testsuite>
        <testsuite name="symfony-bundle"><directory>packages/symfony-bundle/tests</directory></testsuite>
        <testsuite name="laravel"><directory>packages/laravel/tests</directory></testsuite>
        <testsuite name="yii2"><directory>packages/yii2/tests</directory></testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/core/src</directory>
            <directory>packages/doctrine/src</directory>
            <directory>packages/symfony-bundle/src</directory>
            <directory>packages/laravel/src</directory>
            <directory>packages/yii2/src</directory>
        </include>
    </source>
    <php>
        <env name="KERNEL_CLASS" value="IndexNowKit\SymfonyBundle\Tests\App\TestKernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="0"/>
    </php>
</phpunit>
